body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: transparent;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.container {
    text-align: center;
}
